.weaponInfo-scrollBox{
    overflow: scroll;
    height: 300px;
    padding: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 10px;
}
.addToCart{
    width: 305px;
    background: #FFEB82;
    color: #000;
}
.like{
    background-color: #fff;
    color: #000;
    border-color: #000;
    border-radius: 90%;
}
.buyItNow{
    background-color: #000;
}
.like:hover{
    background-color: #ff4949;
    border-color: #fff;
    color: #fff;
}
.buyItNow:hover, .addToCart:hover{
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.instaLogo{
    background-image: url(https://cdn-icons-png.flaticon.com/512/87/87390.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.faceLogo{
    background-image: url(https://cdn-icons-png.flaticon.com/512/49/49354.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.teleLogo{
    background-image: url(https://cdn-icons-png.flaticon.com/512/87/87413.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}